cache
_test_cache
__pycache__
venv
logs*
/test.*
!/test.py
/main.py
examples/
examples_*/
/ttest.py
**/*loop_state.json
config.py
checkpoint.pth
checkpoints/
checkpoints_*/
/main.py
result.json
backtests/