cache
test_data
__pycache__
venv
logs*
/test.*
!/test.py
/main.py
examples/
examples_*/
/ttest*.py
.vscode
**/*loop_state.json
config.py
checkpoint.pth
checkpoints/
checkpoints_*/
/main.py
result.json
backtests/
*.db
*.db-journal